<section class="section">
  	<div class="container">
    	<div class="columns">		
			<div class="column is-half">
				<article class="media-box">
					<%= render '/streams/search' %>
				</article>
			</div>
		</div>
	</div>
</section>

	<%= sort_link(@q, :stream) %>